<h1>InputController#create</h1>
<p>Find me in app/views/input_controller/create.html.erb</p>

<p>Name: <%= @person.firstname %> <%= @person.lastname %> </p>
<p>Phone Number: <%= @person.phonenumber %></p>
<a href="input_controller/show">Done</a>