<h1>InputController#index</h1>
<p>Find me in app/views/input_controller/index.html.erb</p>

<% @queuedpersons.each do |qp| %>
<p>Name: <%= qp.firstname %> <%= qp.lastname %> </p>
<p>Phone Number: <%= qp.phonenumber %></p>
<% end %>